@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@plugin "daisyui";

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust this value to match your navbar height */
}

@media (prefers-reduced-motion: reduce) {
  .fade-in {
    transition: none !important;
    opacity: 1 !important;
    transform: none !important;
  }
}