---
import BeforeAfterTransition from "./BeforeAfterTransition";
import FadeIn from "./FadeIn";
import tiredMan from "../assets/img/tiredMan.avif";
import comfortableMan from "../assets/img/comfortableMan.avif";
---

<section id="beforeAndAfter" class="container px-4 md:px-6">
 <div class="w-full flex flex-col items-center text-center gap-4 mb-12">
  <FadeIn delay={100} client:load>
    <h2 class="text-3xl xl:text-4xl font-bold tracking-tight xl:mb-5">
      Antes y Después de Usarlas
    </h2>
  </FadeIn>
  <p class="text-sidebar-primary-foreground text-lg xl:text-xl max-w-[800px]">
    Descubre cómo nuestras gafas de bloqueo de luz azul pueden transformar tu día y mejorar tu descanso.
  </p>
</div>

<div class="grid gap-8 md:grid-cols-2 mb-8 xl:px-20 max-w-full">
  <div class="rounded-xl p-2 shadow-md backdrop-blur-lg bg-white/10 border border-white/10 xl:flex xl:flex-col xl:place-items-center">
    <h3 class="text-xl font-bold mb-4 text-center text-red-500">
      Sin Protección: <br /> Estrés Visual Constante
    </h3>
    <div class="relative h-[320px] xl:h-[400px] w-full xl:w-[400px] rounded-lg overflow-hidden mb-4">
      <img src={tiredMan.src} alt="Persona con ojos cansados e irritados" class="w-full h-full object-cover" loading="lazy" />
    </div>
    <ul class="w-full space-y-2 xl:grid xl:grid-cols-2 xl:gap-4 xl:p-4">
      {['Vista cansada e irritada.', 'Dificultad para dormir.', 'Dolores de cabeza frecuentes.', 'Falta de concentración y fatiga.'].map((item) => (
        <li class="flex items-center gap-2 text-white text-lg xl:text-lg">
          <svg width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#ff0000"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg> <strong>{item}</strong> 
        </li>
      ))}
    </ul>
  </div>

  <div class="rounded-xl p-2 shadow-md backdrop-blur-lg bg-white/10 border-white/10 border xl:flex xl:flex-col xl:place-items-center">
    <h3 class="text-xl font-bold mb-4 text-center text-[#05df72]">
      Con Gafas Amber Vision: <br /> Comodidad y Descanso Total
    </h3>
    <div class="relative h-[320px] xl:h-[400px] w-full xl:w-[400px] rounded-lg overflow-hidden mb-4">
      <img src={comfortableMan.src} alt="Persona con visión relajada y enfocada" class="object-cover h-full w-full" loading="lazy" />
    </div>
    <ul class="space-y-2 xl:grid xl:grid-cols-2 xl:gap-4 xl:p-4">
      {["Ojos descansados y sin tensión.", "Sueño profundo y reparador.", "Menos dolores de cabeza.", "Mayor enfoque y productividad."].map((item) => (
        <li class="flex items-center gap-2 text-white text-lg xl:text-lg">
          <svg  width="20"  height="20"   viewBox="0 0 24 24"  fill="#05df72"  class="icon icon-tabler icons-tabler-filled icon-tabler-shield-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.998 2l.118 .007l.059 .008l.061 .013l.111 .034a.993 .993 0 0 1 .217 .112l.104 .082l.255 .218a11 11 0 0 0 7.189 2.537l.342 -.01a1 1 0 0 1 1.005 .717a13 13 0 0 1 -9.208 16.25a1 1 0 0 1 -.502 0a13 13 0 0 1 -9.209 -16.25a1 1 0 0 1 1.005 -.717a11 11 0 0 0 7.531 -2.527l.263 -.225l.096 -.075a.993 .993 0 0 1 .217 -.112l.112 -.034a.97 .97 0 0 1 .119 -.021l.115 -.007zm3.71 7.293a1 1 0 0 0 -1.415 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" /></svg> <strong>{item}</strong>
        </li>
      ))}
    </ul>
  </div>
</div>

<div class="CTA-container flex flex-col justify-center mt-10 md:mt-12 lg:my-20 mb-8 md:mb-14 xl:mb-16">
  <button
              class="whitespace-nowrap text-lg ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-primary/90 h-10 bg-gradient-to-r from-amber-500 to-red-500 hover:from-amber-500 hover:to-red-500 text-white font-semibold p-6 xl:py-6 xs:p-3 rounded-lg shadow-lg transition-transform transform hover:scale-105 flex items-center justify-center gap-2 w-full lg:w-[80%] mx-auto tracking-wide"
            >
              <a
                href="#pricing"
                class="flex flex-col items-center gap-1 text-[16px] lg:text-xl xl:p-2 w-full justify-center"
              >
                Pruebalas hoy, tus ojos te lo agradecerán
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M17 17h-11v-14h-2"></path><path d="M6 5l14 1l-1 7h-13"></path></svg>
              </a>
            </button>
  <small class="italic self-center md:text-sm xl:mt-1">
    Compra segura: envío rápido y pagas al recibir 🛡️
  </small>
</div>

<div class="beforeAndAfter-container lg:flex lg:flex-row lg:mt-26">
  <BeforeAfterTransition client:load />
  <div class="scienceBehind mt-4 lg:mt-0 px-2 md:px-6 lg:pl-4 lg:pr-0 xl:px-12 max-w-4xl mx-auto text-left lg:flex-1">
    <img src="/assets/img/Wave-Icon-White.svg" alt="wave icon" class="self-start w-1/2 md:w-1/3" loading="lazy" />
    <FadeIn delay={100} client:load>
      <h3 class="text-2xl md:text-3xl lg:text-2xl font-bold mb-4 mt-3 lg:mt-0">
        La Ciencia Detrás de Amber Vision
      </h3>
    </FadeIn>
    <p class="text-base md:text-lg mb-3">
      La luz azul y verde —especialmente entre los <span class="font-semibold">400 y 520 nanómetros</span>— altera tu capacidad para relajarte y <span class="font-semibold">afecta tu ritmo circadiano</span>, el reloj interno que regula tu descanso.
    </p>
    <p class="text-base md:text-lg mb-3">
      En esta era digital, estamos expuestos a fuentes de <span class="font-semibold">luz artificial como celulares, computadores o luces LED.</span> Aunque parezcan inofensivas, incluso niveles bajos de esta luz impiden la correcta producción de melatonina.
    </p>
    <p class="text-base md:text-lg mb-3">
      Nuestras gafas <span class="font-semibold">Amber Vision</span> filtran selectivamente esta luz nociva, creando un entorno visual más cálido y natural. Al usarlas en las últimas horas del día, <span class="font-semibold">tu cuerpo se relajará, dormirás mejor y le dirás adiós a la fatiga ocular</span>.
    </p>
  </div>
</div> 
</section>
