---
import FadeIn from "./FadeIn";
import founderImage from "/src/assets/img/imageFounder.avif";
---
<section
id="founderNote"
class="py-6 lg:py-14 xl:py-5 xl:flex xl:justify-center"
>
<div class="container px-4 md:px-6 ">
  <FadeIn delay={100} client:load>
    <div class="max-w-[800px] p-2 mx-auto shadow-md backdrop-blur-lg bg-white/10 border border-white/10 xl:px-10 rounded-xl items-center">
      <div class="flex flex-col gap-6 xl:py-6">
        <div class="h-28 lg:h-48 w-28 lg:w-48 mt-4 rounded-full mx-auto overflow-hidden">
          <img
            src={founderImage.src}
            alt="Fundador de Amber Vision"
            class="w-full h-full object-cover"
            loading="lazy"
          />
        </div>
        <h2 class="text-2xl font-bold text-center">
          Un Mensaje de Nuestro Fundador
        </h2>
        <p class="text-sidebar-primary-foreground text-center lg:text-lg">
          "Después de años lidiando con migrañas e insomnio por pasar
          más de 12 horas al día frente a pantallas, descubrí el
          impacto de la luz azul en mi salud. Decidí crear estas gafas
          con filtro ámbar, y el cambio fue increíble: descanso mejor,
          se acabaron los dolores de cabeza y la fatiga ocular
          desapareció.
        </p>
        <p class="text-sidebar-primary-foreground text-center lg:text-lg">
          Hoy, mi misión es ayudar a más personas a proteger su vista
          y mejorar su descanso. Estas gafas no son solo un accesorio,
          sino una inversión en tu bienestar y calidad de vida en esta
          era digital."
        </p>
        <div class="text-center">
          <p class="font-semibold text-lg xl:text-xl">
            Miguel Arenas
          </p>
          <p class="text-sm xl:text-lg text-sidebar-primary-foreground">
            Fundador, Amber Vision
          </p>
        </div>
      </div>
    </div>
  </FadeIn>
</div>
</section>