---

---

<section
            id="securePurchase"
            class="pt-10 text-text text-center px-3 md:px-12 "
          >
            <div class="max-w-3xl p-3 mx-auto md:p-3 shadow-md backdrop-blur-lg bg-white/10 border border-white/10 xl:px-10 rounded-xl items-center">
              <h2 class="text-2xl md:text-3xl font-bold mb-4">
                Dale una oportunidad real a tu descanso
              </h2>
              <p class="text-lg md:text-xl font-medium mb-6">
                Estamos tan seguros de que nuestras gafas{" "}
                <span class="font-semibold text-brand">Amber Vision</span>{" "}
                transformarán tu bienestar, que te damos{" "}
                <span class="font-semibold">30 días para comprobarlo</span>.
              </p>
              <p class="text-lg md:text-lg mb-4">
                Póntelas, úsalas, siente la diferencia en tu vista y en la
                calidad de tu sueño. Si no notas mejoría o simplemente no te
                convencen, puedes{" "}
                <span class="font-semibold text-fire-dark">
                  devolverlas sin explicaciones
                </span>
                .
              </p>
              <div class="CTA-container flex flex-col justify-center mt-6 mb-2 xl:flex xl:justify-center">
                <button
                  
                  class="whitespace-nowrap text-sm ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-primary/90 h-10 px-4 bg-gradient-to-r from-amber-500 to-red-500 hover:from-amber-500 hover:to-red-500 text-white font-semibold py-6 sm:px-6 sm:py-3 lg:mt-8 xl:py-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 flex items-center justify-center gap-2 w-[85%] lg:w-[60%] xl:w-max mx-auto"
                >
                  <a
                    href="#pricing"
                    class="flex items-center sm:gap-3 text-[16px] lg:text-xl xl:p-2 flex-col sm:flex-row"
                  >
                    Protege Tus Ojos y mejora tu sueño!
                    <svg
                    width="30"
                    height="30"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l14 1l-1 7h-13" />
                  </svg>
                  </a>
                </button>
              </div>
              <p class="text-md lg:text-lg italic">
                Tu salud visual está primero, y tu compra está 100% protegida.
                🛡️
              </p>
            </div>
          </section>